
#editor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  min-height: 200px;
  border-radius: 8px;
  border: 5px solid #ec240af8;
  background-color: #2b2a27;
  color: #ece8e8;
}

#preview {
  background-color: #e64003de;
  min-height: 100px;
  max-width: 75%;
  height: fit-content;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 3px solid #0c0c0c;
  border-radius: 8px;
}

#title {
  text-align: center;
  color: #ec240af8; 
}

img {
  height: 50%;
  width: 50%;
}

footer {
  color: #ec240af8;
  text-align: center;
}
